body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

canvas {
    background: green;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.score {
    margin-left: 20px;
    font-size: 40px;
}

.button {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    padding: 20px;
    background: blue;
    color: white;
    border: none;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}